.gradient-background {
    background: linear-gradient(#526374, #000000);
    height: 180vh;
    width: 2540px;
    filter:alpha(opacity=0)
}

.nav-item2 {
    margin-bottom: 10px;
}

a {
    margin-top: 13px;
    margin-right: 10px;
}


.navbar-collapse {
    width: 100px;
}

.navbar {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.navbar-brand {
    margin-bottom: 10px;
}

h2 {
    margin-left: 10px;
}

