{% extends 'base.html' %}


{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/static/styles/about_us.css" rel="stylesheet">

<div class="container mt-5">
    <h1 class="display-4">About Us</h1>

    <div class="row">
        <div class="col-md-6">
            <h2>Funko Pop Figures</h2>
            <p>Funko Pop is a popular line of vinyl figures produced by Funko Inc. These figures have gained immense popularity among collectors and fans of various pop culture phenomena.</p>
        </div>
        <div class="col-md-6">
            <h2>Why Funko Pop?</h2>
            <p>Funko Pop is known for its unique design and a vast selection of characters from various worlds, including movies, comics, video games, anime, and more.</p>
            <ul>
                <li>Variety: You'll find figures of nearly any of your favorite characters.</li>
                <li>Collectibility: Funko Pop figures have become popular among collectors due to their collectible value.</li>
                <li>Quality: Each figure is made from high-quality materials and meticulously crafted for detail.</li>
            </ul>
            <p>Join the world of Funko Pop today!</p>
        </div>
    </div>
</div>

{% endblock %}